<!-- 
<div class="flex flex-col justify-center place-items-center h-screen -mt-20">
    <h1 class="p-2">Welocome to bulk uploder</h1>
    <a routerLink="/upload-csv" class="text-xl bg-red-500 rounded-md font-bold underline border border-gray-300 p-4">Open Uploder</a>
</div>
   -->

<header>
  <nav class="bg-white border-gray-200 px-4 py-5">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <a routerLink="/" class="flex items-center">
        <span class="self-center text-xl font-semibold whitespace-nowrap">Bulk</span><span class="self-center text-xl font-semibold whitespace-nowrap text-blue-700">Uploder</span>
      </a>

      <div class="justify-between items-cente w-auto md:flex hidden">
        <ul class="flex mt-4 font-medium flex-row space-x-8">
          <li>
            <a href="https://radixweb.com/"
              class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 hover:bg-transparent hover:text-primary-700 p-0">Company</a>
          </li>

          <li>
            <a href="https://radixweb.com/partners"
              class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 hover:bg-transparent hover:text-primary-700 p-0">Team</a>
          </li>
          <li>
            <a href="https://radixweb.com/contact-us"
              class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 hover:bg-transparent hover:text-primary-700 p-0">Contact</a>
          </li>
        </ul>
      </div>
      <div class="flex">
        <a routerLink="/upload-csv" class="text-white bg-blue-700 font-medium rounded-full text-sm px-4 py-2 mr-2">Get started</a>
      </div>
    </div>
  </nav>
</header>

<div class="mx-auto max-w-7xl px-8 pb-16 text-center pt-40">
  <h1 class="mx-auto max-w-4xl font-display md:text-5xl text-3xl font-medium tracking-tight text-slate-900">
    The Bulk Data Upload utility enables you to upload a large amount.
  </h1>
  <p class="mx-auto mt-6 text-lg tracking-tight text-slate-700">
    To upload data you must follow given instaruction & templates. This tool create as per Client Requirements.
  </p>
  <div class="mt-10 flex justify-center gap-x-6">
    <a routerLink="/upload-csv" class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-lg font-semibold bg-blue-700 text-white hover:shadow-xl hover:shadow-black"
      >Get Started</a>
  </div>
</div>



<div class="text-center align-bottom pt-40 text-sm text-gray-700">
  Create by © 2023 <a href="https://www.linkedin.com/in/yash-prajapati-96b5151a1/?_l=en_US">Yash.Prajapati</a>
</div>